<h1>Welcome to Guess the Number!</h1>

<p>Please choose a difficulty level:</p>

<form action="/index.erb" method="post">
  <input type="radio" id="easy" name="diff" value="easy">
  <label for="easy">Easy</label><br>
  <input type="radio" id="medium" name="diff" value="medium">
  <label for="medium">Medium</label><br>
  <input type="radio" id="hard" name="diff" value="hard">
  <label for="hard">Hard</label><br>
  <input type="submit" value="Submit">
</form>
